body {
    height: 100vh;
    background-color: #1b3e60;
    overflow: hidden;
}

pre{
    background-color: #d1d1d1;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.creation-bg-color {
    background-color: #ededed;
}

.step-card-list {
    height: 100vh;
}

.border-right-secondary {
    border-right: .25rem solid #858796 !important;
}

.code-headers-unset {
    display: none !important;
}

.go-home-btn{    
    cursor: pointer;
    position: fixed;
    left: 5%;
    top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: .25s;
    animation: opacity-off .25s 3s forwards;
}

.go-home-btn:hover{
    width: 125px;
    transform: translateX(-40px);
}

.go-home-btn .back{
    opacity: 0;
    transform: translateX(-10px);
    transition: .1s;
}

.go-home-btn:hover .back{
    opacity: 1;
    transform: translateX(0);
    transition: .5s;
}

.go-home-btn i{
    min-width: 50px;
    text-align: center;
}

.a-link-container{
    display: none;
}

.a-link-container.show{
    display: block;
}

.finalizar{
    position: absolute;
    bottom: 10px;
}

#tutorial_form{
    height: 100%;
    overflow-y: auto;    
}

.alert-container{
    z-index: -1;
    opacity: 0;    
    position: fixed !important;
    bottom: -10%;
    transition: .25s;
    width: 50%;
    left: 30%;
    border-radius: 25px;
}

.alert-container.show{
    z-index: 99;
    opacity: 1;
    bottom: 10%;
}

.alert{
    transform: translateX(-160px);
    height: 160px;
    padding-left: 180px;
    font-size: 24px;
}

.avatar {
    z-index: 100;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid gray;
    opacity: 1;
    background-size: contain;
    background-image: url('../image/capy.png');
    margin-top: 5px;
    margin-left: 20px;
}

.card-body[yt-timestamp]:after {
    content: attr(fancyTime);
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 13px;
}